@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c7c8c9;
    border-radius: 100px;
  }
  @media (min-width: 678px) {
    .sideBarOpen{
      padding-left: 250px;
    }
    .sideBarClose{
      padding-left: 80px;
    }
   
  }



  @media (max-width: 500px) {
    table {
      width: 100%;
      overflow-x: auto;
    }
  
    th,
    td {
      display: block;
      width: 100%;
      text-align: right;
    }
  
    th {
      display: none;
    }
  
    td {
      padding: 8px;
      position: relative;
      padding-left: 50%; /* Add space for the label */
    }
  
    td::before {
      content: attr(data-label);
      position: absolute;
      color: black;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bold;
      text-transform: uppercase;
      width: 45%; /* Adjust as needed */
      white-space: nowrap;
      text-align: left;
    }
    td:last-child:before {
      content: '';
    }
    td:last-child {
      text-align: center;
    }
  
 
  }
  